.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.add-emp-btn{
    padding: 10px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    font-weight: 600;
}